@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html, body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.text-justify {
    text-align: justify;
}

#formulario input, #formulario textarea {
    border-bottom: 3px solid #6c757d !important;
}

.btn-azul {
    background-color: #6c757d;
    color: white;
    transition: 0.2s ease;
}

.btn-azul:hover {
    transform: scale(1.1);
    background-color: #37678a;
    color: white;
}

.bg-azul {
    background-color: #6c757d;
}


.footer {
    position:absolute !important ;
    bottom:0 !important ;
    width:100% !important ;
}

#dataFiltro {
    width: 182px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.filtro {
    font-size: medium;
    padding: 10px;
    margin-left: 400px;
}

.boxFiltro {
    border-top: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 2px 6px rgba(0,0,0,0.2);
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    text-rendering: optimizeLegibility;
    text-align: center;
    margin-left: 400px;
    margin-right: 750px;
    margin-bottom: 100%;
}

.cardItemColumn {
    text-align: justify;
    padding: 10px 15px;
    border-left: 7px solid;
    border-bottom: 1px solidi;
    vertical-align: middle;
    box-sizing: border-box;
    
}

.modalidades {
    width: 150px; 
    padding: 5px;
    margin-left: 10px;
}

.Login {
    margin-bottom: 250px;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .portfolio-item {
    margin-bottom: 30px;
  }
  
  
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    margin-bottom: 100%;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  
  .padrao
  {
      background-color: #a6a6a6;
      background-repeat: no-repeat;
      background-size:100%;
      bottom: 0;
      left: 0;
      overflow: auto;
      padding: 3em;
      position: absolute;
      right: 0;
      top: 0;
      background-size: cover;
  }
  